[package]
name = "wit-bindgen-cli"
authors = ["Alex Crichton <alex@alexcrichton.com>"]
version = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }
homepage = 'https://github.com/bytecodealliance/wit-bindgen'
description = """
CLI tool to generate bindings for WIT documents and the component model.
"""

[workspace]
members = [
  "crates/test-rust-wasm",
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "0.41.0"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
repository = "https://github.com/bytecodealliance/wit-bindgen"

[workspace.dependencies]
anyhow = "1.0.72"
bitflags = "2.3.3"
heck =  { version = "0.5" }
pulldown-cmark = { version = "0.9", default-features = false }
serde = { version = "1.0.218", features = ["derive"] }
clap = { version = "4.3.19", features = ["derive"] }
indexmap = "2.0.0"
prettyplease = "0.2.20"
syn = { version = "2.0.89", features = ["printing"] }
futures = "0.3.31"

wat = { git = "https://github.com/cpetig/wasm-tools", branch = "symmetric" }
wasmparser = { git = "https://github.com/cpetig/wasm-tools", branch = "symmetric" }
wasm-encoder = { git = "https://github.com/cpetig/wasm-tools", branch = "symmetric" }
wasm-metadata = { git = "https://github.com/cpetig/wasm-tools", branch = "symmetric" }
wit-parser = { git = "https://github.com/cpetig/wasm-tools", branch = "symmetric" }
wit-component = { git = "https://github.com/cpetig/wasm-tools", branch = "symmetric" }
wasm-compose = { git = "https://github.com/cpetig/wasm-tools", branch = "symmetric" }

wit-bindgen-core = { path = 'crates/core', version = '0.41.0' }
wit-bindgen-c = { path = 'crates/c', version = '0.41.0' }
wit-bindgen-rust = { path = "crates/rust", version = "0.41.0" }
wit-bindgen-csharp = { path = 'crates/csharp', version = '0.41.0' }
wit-bindgen-markdown = { path = 'crates/markdown', version = '0.41.0' }
wit-bindgen-moonbit = { path = 'crates/moonbit', version = '0.41.0' }
wit-bindgen = { path = 'crates/guest-rust', version = '0.41.0', default-features = false }
wit-bindgen-test = { path = 'crates/test', version = '0.41.0' }

wit-bindgen-cpp = { path = 'crates/cpp', version = '0.3.0' }
wit-bindgen-bridge = { path = 'crates/bridge', version = '0.1.0' }

[[bin]]
name = "wit-bindgen"

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true, features = ['wrap_help'] }
wit-bindgen-core = { workspace = true }
wit-bindgen-rust = { workspace = true, features = ['clap'], optional = true }
wit-bindgen-c = { workspace = true, features = ['clap'], optional = true }
wit-bindgen-markdown = { workspace = true, features = ['clap'], optional = true }
wit-bindgen-moonbit = { workspace = true, features = ['clap'], optional = true }
wit-bindgen-csharp = { workspace = true, features = ['clap'], optional = true }
wit-bindgen-test = { workspace = true }
wit-component = { workspace = true }
wasm-encoder = { workspace = true }
wit-bindgen-cpp = { workspace = true, features = ['clap'], optional = true }
wit-bindgen-bridge = { workspace = true, features = ['clap'], optional = true }
env_logger = "0.11.7"

[features]
default = [
  'c',
  'rust',
  'markdown',
  'go',
  # 'csharp',
  'cpp',
  'bridge',
  'moonbit',
  'async',
]
bridge = ['dep:wit-bindgen-bridge']
c = ['dep:wit-bindgen-c']
cpp = ['dep:wit-bindgen-cpp']
rust = ['dep:wit-bindgen-rust']
markdown = ['dep:wit-bindgen-markdown']
go = []
csharp = ['dep:wit-bindgen-csharp']
csharp-mono = ['csharp']
moonbit = ['dep:wit-bindgen-moonbit']
async = []

[dev-dependencies]
heck = { workspace = true }
wasmtime = { version = "25.0.0", features = ['component-model'] }
wasmtime-wasi =  { version = "25.0.0" }
test-artifacts = { path = 'crates/test-rust-wasm/artifacts' }
wit-parser = { workspace = true }
wasmparser = { workspace = true }
wasm-encoder = { workspace = true }

#[patch.crates-io]
#wit-parser = { git = "https://github.com/bytecodealliance/wasm-tools" }
#wit-component = { git = "https://github.com/bytecodealliance/wasm-tools" }
#wasm-encoder = { git = "https://github.com/bytecodealliance/wasm-tools" }
#wasm-metadata = { git = "https://github.com/bytecodealliance/wasm-tools" }
#wasmparser = { git = "https://github.com/bytecodealliance/wasm-tools" }
#wasmprinter = { git = "https://github.com/bytecodealliance/wasm-tools" }

#[patch."https://github.com/cpetig/wasm-tools"]
#wit-parser = { path = "../wasm-tools/crates/wit-parser" }
#wasmparser = { path = "../wasm-tools/crates/wasmparser" }
