[package]
name = "wit-bindgen-cli"
authors = ["Alex Crichton <alex@alexcrichton.com>"]
version.workspace = true
edition.workspace = true

[workspace]
members = [
  "crates/test-rust-wasm",
  "crates/wit-bindgen-demo",
  "crates/wasi_snapshot_preview1",
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "0.3.0"

[workspace.dependencies]
anyhow = "1.0.65"
bitflags = "1.3.2"
heck =  { version = "0.4", features = ["unicode"] }
pulldown-cmark = { version = "0.8", default-features = false }
clap = { version = "4.0.9", features = ["derive"] }
env_logger = "0.9.1"
indexmap = "1.9.1"

wasmtime-environ = { git = 'https://github.com/bytecodealliance/wasmtime' }
wasmprinter = "0.2.46"
wasmparser = "0.97.0"
wasm-encoder = "0.21.0"
wat = "1.0.53"
wit-parser = "0.4.0"
wit-component = "0.4.0"

wit-bindgen-core = { path = 'crates/bindgen-core', version = '0.3.0' }
wit-bindgen-gen-guest-c = { path = 'crates/gen-guest-c', version = '0.3.0' }
wit-bindgen-gen-guest-rust = { path = "crates/gen-guest-rust", version = "0.3.0" }
wit-bindgen-gen-guest-teavm-java = { path = 'crates/gen-guest-teavm-java', version = '0.3.0' }
wit-bindgen-gen-host-js = { path = 'crates/gen-host-js', version = '0.3.0' }
wit-bindgen-gen-markdown = { path = 'crates/gen-markdown', version = '0.3.0' }
wit-bindgen-gen-rust-lib = { path = 'crates/gen-rust-lib', version = '0.3.0' }
wit-bindgen-guest-rust = { path = 'crates/guest-rust', version = '0.3.0', default-features = false }
wit-bindgen-rust-macro-shared = { path = 'crates/rust-macro-shared', version = '0.3.0' }

[[bin]]
name = "wit-bindgen"
test = false

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
wit-bindgen-core = { path = 'crates/bindgen-core' }
wit-bindgen-gen-guest-rust = { path = 'crates/gen-guest-rust', features = ['clap'] }
wit-bindgen-gen-host-js = { path = 'crates/gen-host-js', features = ['clap'] }
wit-bindgen-gen-guest-c = { path = 'crates/gen-guest-c', features = ['clap'] }
wit-bindgen-gen-markdown = { path = 'crates/gen-markdown', features = ['clap'] }
wit-bindgen-gen-guest-teavm-java = { path = 'crates/gen-guest-teavm-java', features = ['clap'] }
wat = { workspace = true }
wit-component = { workspace = true }

[patch.crates-io]
wit-component = { path = '../wasm-tools/crates/wit-component' }
wit-parser = { path = '../wasm-tools/crates/wit-parser' }
